* {
  margin: 0;
  padding: 0;
}

.main-page {
  height: 100vh;
  background: rgb(162, 162, 194);
}

.nav-bar {
  background: red;
}

.category-list {
  background: green;
}

.sliding-banner {
  background: blue;
}

.deals-of-day {
  background: white;
}
